<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ninjatronic.phoneplate" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>
        Phoneplate
    </name>
    <description>
        A Phonegap and AngularJS Boilerplate
    </description>
    <author email="pete@ninjatronic.com" href="http://ninjatronic.com">
        Pete Martin
    </author>
</widget>
